parameters:
    paths:
        - %currentWorkingDirectory%/
    excludePaths:
        - %currentWorkingDirectory%/*test*
        - %currentWorkingDirectory%/*twig*
        - %currentWorkingDirectory%/*cache*
    level: 0
